@model IEnumerable<PortalSpolecznosciowy.Models.Post>
@using Microsoft.AspNet.Identity
@using PortalSpolecznosciowy.Models


@{
    ViewBag.Title = "Wpisy przyjaciół";
}
<br />

<div class="row">

    <div class="col-md-3 col-md-offset-1">
        @Html.Partial("_userProfilPartial", (ApplicationUser)ViewBag.User)
    </div>

    <div class="col-md-7">
        @Html.Partial("_formAddedPostPartial", (ApplicationUser)ViewBag.User)

        @Html.Partial("_displayPostPartial", Model)

    </div>
</div>
