@model PortalSpolecznosciowy.Models.ApplicationUser

<div class="panel panel-default">
    <div class="panel-body">
        @if (TempData["MessagePost"] != null)
        {
            <div class="alert alert-danger" role="alert">@TempData["MessagePost"]</div>
        }
        @if (TempData["ErrorPost"] != null)
        {
            <div class="alert alert-danger" role="alert">@TempData["ErrorPost"]</div>
        }
        
        @using (Html.BeginForm("AddPost", "Post", FormMethod.Post, htmlAttributes: new { id = "addPost" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("userId", Model.Id)
            <textarea name="content" data-val="true" data-val-required="Zawartosc posta jest wymagana." class="form-control" rows="5" cols="60" placeholder="What's up"></textarea>
            <span class="field-validation-valid" data-valmsg-for="content" data-valmsg-replace="true"></span>
            <button type="submit" class="btn btn-default pull-right">Add entry</button>
        }
    </div>
</div>