#addPost textarea, #editPost textarea, #editComment textarea {
    max-width: 600px;
    margin-bottom: 10px;
}

#editPost textarea {
    max-width: 700px;
    margin-bottom: 10px;
}

/*===== POST =====*/
.showSinglePost, .showSingleComment {
    margin-top: 10px;
}

.showSinglePostContent, .showSingleCommentContent {
    padding-top: 10px;
}

.showSinglePostAuthor {
    margin: 3px 10px;
}
/*===== END POST =====*/

/*===== COMMENT =====*/
.commentPanel {
    margin-top: 10px;
    margin-bottom: 0px;
}

.commentContent {
    max-width: 485px;
    margin-bottom: 5px;
    margin-left: 5px;
}
/*===== END COMMENT =====*/

/*===== VALIDATE =====*/
.field-validation-valid {
    
}

.validation-summary-errors {
  border:2px solid red;
  color:red;
  font-weight:bold;
  margin:6px;
  width:30%;
}

.input-validation-valid {
    
}

.field-validation-error{
  color:red;
   font-weight:bold;
   background-color:yellow;
}

.validation-summary-valid {
    
}

.input-validation-error{
  color:red;
  font-weight:bold;
  background-color:pink;
}

/*===== END VALIDATE =====*/