@model PortalSpolecznosciowy.Models.Post
<div class="dropdown pull-right">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="@Url.Content("/Post/Edit/" + Model.PostId)" class="btn btn-link">Edit</a>
        </li>
        <li>
            <a href="@Url.Content("/Post/Delete/" + Model.PostId)" class="btn btn-link postBtnDelete">Delete</a>
        </li>
    </ul>
</div>


